<!DOCTYPE html>
<html>
  <head>
    <title>TestProjectFullstack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript"> window.logoText = '<%= image_url("logo_and_txt.png") %>' </script>
    <script type="text/javascript"> window.logo = '<%= image_url("logo.png") %>' </script>
    <script type="text/javascript"> window.gitBW = '<%= image_url("git_black_and_white.png") %>' </script>
    <script type="text/javascript"> window.linkedInBW = '<%= image_url("linkedin_logo.png") %>' </script>
    <script type="text/javascript"> window.splash = '<%= image_url("splash.png") %>' </script>
    <script type="text/javascript"> window.topoCut = '<%= image_url("topo_cut.png") %>' </script>
    <script type="text/javascript"> window.phone = '<%= image_url("phone_back_drop.png") %>' </script>
    <script type="text/javascript"> window.phone2 = '<%= image_url("phone_back_drop2.png") %>' </script>
    <script type="text/javascript"> window.dots = '<%= image_url("dots.png") %>' </script>
    <script type="text/javascript"> window.flag = '<%= image_url("american_flag.png") %>' </script>
    <script type="text/javascript"> window.logoGrey = '<%= image_url("logo_and_text_grey.png") %>' </script>
    <script type="text/javascript"> window.topoUncut = '<%= image_url("topo_uncut.png") %>' </script>
    <script type="text/javascript"> window.logoBlack = '<%= image_url("logo_and_text_black.png") %>' </script>
  </head>

  <body class="html-body">
    <%= yield %>
  </body>
</html>
