<!DOCTYPE html>
<html>
  <head>
    <title>Tri'Harder</title>

    <meta property="og:title" content="Tri'Harder" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://tri-harder.herokuapp.com/#/" />
    <meta property="og:image" content='<%= image_url('splash_snapshot.png') %>' />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript"> window.logoText = '<%= image_url("logo_and_txt.png") %>' </script>
    <script type="text/javascript"> window.logo = '<%= image_url("logo.png") %>' </script>
    <script type="text/javascript"> window.gitBW = '<%= image_url("git_black_and_white.png") %>' </script>
    <script type="text/javascript"> window.linkedInBW = '<%= image_url("linkedin_logo.png") %>' </script>
    <script type="text/javascript"> window.splash = '<%= image_url("splash.png") %>' </script>
    <script type="text/javascript"> window.topoCut = '<%= image_url("topo_cut.png") %>' </script>
    <script type="text/javascript"> window.phone = '<%= image_url("phone_back_drop.png") %>' </script>
    <script type="text/javascript"> window.phone2 = '<%= image_url("phone_back_drop2.png") %>' </script>
    <script type="text/javascript"> window.dots = '<%= image_url("dots.png") %>' </script>
    <script type="text/javascript"> window.flag = '<%= image_url("american_flag.png") %>' </script>
    <script type="text/javascript"> window.logoGrey = '<%= image_url("logo_and_text_grey.png") %>' </script>
    <script type="text/javascript"> window.topoUncut = '<%= image_url("topo_uncut.png") %>' </script>
    <script type="text/javascript"> window.logoBlack = '<%= image_url("logo_and_text_black.png") %>' </script>
    <script type="text/javascript"> window.captcha = '<%= image_url("captcha.png") %>' </script>
    <script type="text/javascript"> window.arrow = '<%= image_url("drop_down_arrow.png") %>' </script>
    <script type="text/javascript"> window.splash_snapshot = '<%= image_url("splash_snapshot.png") %>' </script>

    <script type="text/javascript">
      window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
    </script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google[:api_key] %>&callback=initMap&libraries=&v=weekly"
      defer>
    </script>

    <link rel="shortcut icon" href="<%= image_url('logo.png') %>" type="image/png">
  </head>

  <body class="html-body">
    <%= yield %>
  </body>
</html>
